.cinza{
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 80px 80px 80px;
    box-shadow: 2px 5px 20px gray;
    margin-left: 70px;
    margin-top: 20px;
    position: absolute;
    
}
.amarelo{
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 80px 80px 80px;
    box-shadow: 2px 5px 20px yellow;
    margin-left: 70px;
    margin-top: 20px;
    position: absolute;
}